<table class="totals">

  <tr>
    <td class="cel1 bold"><strong><%= t(:order_total) %>:</strong></td>
    <td class="cel2 cell" align="right"><strong><span id='summary-order-total'><%= @order.display_total.to_html %></span></strong></td>
  </tr>
  <% if @order.line_item_adjustment_totals.present? %>
  <tr>
    <td class="cel1"></td>
    <td class="cel2"></td>
  </tr>
  <% @order.line_item_adjustment_totals.each do |key, total| %>
  <tr class="total">
    <td class="cel1 bold"><%= key %>:</td>
    <td class="cel2 cell" align="right"><%= total %></td>
  </tr>
  <% end %>
</table>
