<% buttons = Spree::HtmlInvoice::Config[:print_buttons] || "invoice"
   buttons = buttons.split(",").collect{|b| b.strip } %>
<%  buttons.each do |button| %>
  <li>
    <%= link_to("/admin/invoice/#{@order.number}/#{button}" , :target => "_blank") do %>
      <span class='glyphicon glyphicon-print'></span>
      <%= Spree.t(button.to_s + ".print") %>
    <% end %>
  </li>
<%end%>
